html, body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#renderCanvas {
	width: 100%;
	height: 100%;
	touch-action: none;
}

#info {
    position: absolute;
    left: 10px;
    font-family: monospace;
    color: white;
    width: 200px;
    right: auto;
    top: 0px;
}

#credits {
    position: absolute;
    top: 10px;
    font-family: monospace;
    color: white;
    margin: 0 20px 0 20px;
    text-align: center;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.5);
    display:none;
    padding: 0 10px;
}
#credits img{
    opacity: 0.9;
}

input[type='button'] {
    border: 2px solid #FFFFFF;
    cursor: pointer;
    background: #D4D4D4;
    height: 30px;
    width: 60px;
    border-radius: 5px;
    font-family: monospace;
}

#infoExit{
    position:absolute;
    right:10px;
    top: 10px;
}

a{
    color: #FFFFFF;
}